img{
    width : 60px;
    height: auto;
    vertical-align: middle;
}
.amount{
    margin-left: 20px;
    position: absolute;
    top: 20px;
    right: 30%;
}
.ingName{
    margin-left: 20px;
}
button{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border: none;
    outline: none;
}
.moreBtn{
    background: url("img/plus-circle-solid.svg") 50% no-repeat;
    position: absolute;
    top: 15px;
    right: 0;
}
.lessBtn{
    background: url("img/minus-circle-solid.svg") 50% no-repeat;
    position: absolute;
    top: 15px;
    right: 35px;
}
.ingredient{
    margin-bottom: 20px;
    position: relative;
    min-width: 350px;
}